.modal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.background{
    background-color: #ffffff;
    border: 2px solid;
    padding: 10px 20px 10px;
}

.calendar{
    display: inline-block;
    text-align: center;
}

.calendar-container{
    padding-top: 5%;
}

